<!doctype html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-white">GitRepoWorker</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active text-white" href="/">Домашняя</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/repo_size">Поиск больших проектов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/repo_members">Поиск лишних участников</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  </body>

</html>
