{% extends 'base.html' %}

{% block body %}
<br><br><br>
<div class="row">
  <div class="card text-dark bg-warning mb-3" style="width: 30%; margin: 5rem 1rem auto 23rem">
      <h5 class="card-header">Поиск больших проектов</h5>
      <div class="card-body">
            <h5 class="card-title">Описание</h5>
            <p class="card-text">Программа, выводящая список больших проектов пользователей gitlab,
            данные по которым находятся в заданном файле .data/slush_list по шаблону fio;name;username.</p>
            <p class="card-text">Для осуществления поиска необходимо нажать кнопку "продолжить".</p>
            <h5 class="card-title">Опции</h5>
              <p class="card-text">1. Для вывода определённого количества проектов (по-умолчанию 100)
               необходимо указать число в поле "Число проектов".</p>
              <p class="card-text">2. Для вывода проектов, больших заданного размера, необходимо указать значение
              в мегабайтах в поле "Размер".</p>
              <p class="card-text">3. Для игнорирования определённых проектов нужно поставить галочку в чекбоксе
              "Игнорировать проекты" и указать их ссылки в файле data/ignored_list.</p>
              <p class="card-text">4. При необходимости можно отправить issue в найденные репозитории,
              поставив галочку в чекбоксе "отправить issue". Файл с сообщенем находится в ./data/message в виде
              шаблона "описание проблемы; сообщение".</p>
          <a href="/repo_size" class="btn btn-primary">Найти большие проекты</a>
      </div>
  </div>
  <br>
  <div class="card text-white bg-primary mb-3" style="width: 30%; height: 36rem; margin: auto 3rem auto 0.5rem">
      <h5 class="card-header">Поиск лишних участников</h5>
      <div class="card-body">
        <h5 class="card-title">Опсание</h5>
        <p class="card-text">Программа, выводящая список проектов пользователей gitwork,
            в которых содержатся лишние members.</p>
          <p class="card-text">Для осуществления поиска необходимо нажать кнопку "продолжить".</p>
          <h5 class="card-title">Опции</h5>
          <p class="card-text">1. Для поиска проектов по определённой дисциплине,
              необходимо указать её в поле "Дисциплина".</p>
          <p class="card-text">2. Для добавления участников найденным проектам необходимо поставить галочку в чекбоксе
          "Добавить members" и указать в появившемся меню уровень доступа.
          Добавляемые участники находятся в файле ./data/add.</p>
          <p class="card-text">3. Для удаления участников в найденных проектах необходимо поставить галочку в чекбоксе
          "Удалить members". Удаляемые участники находятся в файле ./data/delete.</p>
      <a href="/repo_members" class="btn btn-warning">Найти лишних участников</a>
      </div>
  </div>
</div>
{% endblock %}