{% extends 'base.html' %}

{% block body %}
<br><br><br>
  <form method="POST" action="/repo_size">
      <div class="btn-group">
          <div class="input-group mb-3" style="padding: 0 8px 0 8px">
            <input type="text" class="form-control" placeholder="Число проектов" name="count"
                   aria-label="Число выводимых проектов" aria-describedby="basic-addon2" pattern="[0-9]*">
          </div>
          <div class="input-group mb-3" style="padding: 0 8px 0 8px">
            <input type="text" class="form-control" placeholder="Размер" name="max" pattern="[0-9]*(\.?[0-9]*)?"
                   aria-label="Максимальный размер" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">MB</span>
          </div>
          <label>
            <input type="checkbox" class="option-input checkbox" name="issue" value="yes">
              <span style="color: #495057; position: absolute; padding:9px 0 0 8px; ">Отправить issue</span>
          </label>
          <label>
            <input type="checkbox" class="option-input checkbox" name="ignore" style="margin-left: 8rem" value="yes">
              <span style="color: #495057; position: absolute; padding:9px 0 0 8px">Игнорировать проекты</span>
          </label>
      </div>
      <div>
           <button type="submit" class="btn btn-info" style="margin-left: 0.5rem">Продолжить</button>
      </div>
  </form>
  <br>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Размер</th>
        <th scope="col">Ссылка на проект</th>
      </tr>
    </thead>
    <tbody>
      {% for number in top_table %}
          <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{number[0]}}</td>
                  <td><a href="{{number[1]}}" target="_blank">{{number[1]}}</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}