{% extends 'base.html' %}

{% block body %}
<br><br><br>
  <form method="POST" action="/repo_members">
      <div class="btn-group">
          <div class="input-group mb-3" style="padding: 0 8px 0 10px">
            <input type="text" class="form-control" placeholder="Дисциплина" name="subject"
                   aria-label="Дисциплина" aria-describedby="basic-addon1">
          </div>
              <label>
                <input type="checkbox" class="option-input checkbox" name="del" value="yes">
                  <span style="color: #495057; position: absolute; padding:9px 0 0 8px; ">Удалить members</span>
              </label>
              <label>
                <input type="checkbox" class="option-input checkbox" name="add" style="margin-left: 9rem" value="yes"
                onclick="if(this.checked){this.nextSibling.style.display='';
                this.nextSibling.required=true}else {this.nextSibling.style.display='none';
                this.nextSibling.value=''; this.nextSibling.required=false;}"><select class="form-select" name="access"
                aria-label="select example" style="display:none; position: absolute; width: 13%;
                background-clip: padding-box;margin-left: 10rem; font-size: 1rem;font-weight: 400; border-radius: 0.25rem;
                border: 1px solid #ced4da;line-height: 1.5; padding:9px 0 8px 10px; margin-bottom: 5px">
                    <option value="">Уровень доступа</option>
                    <option value="10">Guest</option>
                    <option value="20">Reporter</option>
                    <option value="30">Developer</option>
                    <option value="40">Maintainer</option>
                </select>
                  <span style="color: #495057; position: absolute; padding:9px 0 0 10px">Добавить members</span>
              </label>
          </div>
      <div>
          <button type="submit" class="btn btn-info" style="margin-left: 0.5rem">Продолжить</button>
          <p class="row" style="color: red; position: absolute; margin-left: 0.5rem; ">{{ refresher_text }}</p>
      </div>
  </form>
    <br>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ссылка на проект</th>
        <th scope="col">Лишние участники</th>
      </tr>
    </thead>
    <tbody>
      {% for number in top_table %}
          <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td><a href="{{number[0]}}" target="_blank">{{number[0]}}</a></td>
                  <td>{{number[1]}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}